


.label {
    -fx-text-fill: white;
}

.pane_edt {
    -fx-background-color: red;
}

.button{
    -fx-background-color: #797979;
    -fx-text-fill: white;
    -fx-border-color: #282828;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.button:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: white;
}

.box{
    -fx-background-color: #282828;
}

.evaluation{
    -fx-background-color: #4f4f4f;
}
.evaluation .label{
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}


/* -------- fx-id ------------ */


#edt {
    -fx-background-color: #282828;
}


#today_date{
    -fx-text-fill: #ff8300;
}

#grid_edt{ /* grid pane on veut 13 lignes et 7 colonnes avec toutes les bordures en blanc*/
    -fx-background-color: #282828;
}


#creneau_edt_affichage{
    -fx-background-color: #4f4f4f;
}
#creneau_edt_affichage .label{
    -fx-text-fill: #ff8300;
}


.tooltip {
    -fx-background-color: black;
}
.tooltip .label {
    -fx-text-fill: white;
}




