
@font-face {
    font-family: Poppins;
    src: url('../assets/Poppins/Poppins-Regular.ttf');
}

* {
    -fx-font-family: Poppins;
}

#bg_login{
    -fx-background-image: url("../assets/bg_planning_3.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}


#bg_logpw{
    -fx-background-color: white;
}

#bg_logpw .Label{
    -fx-font-size: 20px;
}

#bg_logpw .TextField{
    -fx-border-radius: 15px;
    -fx-background: transparent;
    -fx-border-color: #ffa31a;
}